
/*********************************************
 * GLOBAL STYLES
 *********************************************/

  
body {
  display: inline;
  text-align: right;
}


/*********************************************
 * HEADERS
 *********************************************/
h1 {
  color: #46ACC8;
  font-size: 3.25em;
  font-family: "Megrim";
  font-weight: normal;
  line-height: 1.0;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; 
  text-align: left;
}


