
/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  display: inline;
  text-align: right;
  background-color: #f7f6e9;

}


/*********************************************
 * HEADERS
 *********************************************/
h1 {
  color: #46ACC8;
  font-size: 3.25em;
  font-family: "Megrim";
  font-weight: normal;
  line-height: 1.0;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; 
  text-align: left;
}

h4 {
  font-size: 0.95em;
  font-family: "Helvetica";
  font-weight: bold;
  line-height: 1.0;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; 
  text-align: right;
}

.footer_c{
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-family: "Arial";
  font-weight: 100;
  line-height: 1.0;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: break-word; 
  text-align: center;
}
